#div1{
    width: 600px;
    height: 320px;
    background-color: #87ceeb;
    position: absolute;
    left: 50%;
    top: 50%;/**/
    transform: translate(-50%,-50%);
    text-align: center;

}
#head3{
    text-align: center;
    line-height: 25%;
}
#div2{
    width: 300px;
    height: 100px;
    border-radius: 25px;
    background-color: #03a9f4;    
    left: 25%;
    position: absolute;
}
#div3{
    padding: 20px 0;
    text-align: center;
}
#para1{
    padding: 120px 20px 20px 20px;
    text-align: center;
}
#div4{
    float: left;
    width: 220px;
    height: 80px;
    border-radius: 25px;
    position: static;
    background-color: #71b4eb;
    text-align: center;
    position: static;
    line-height: 40px;
}
#div5{
    float: right;
    width: 220px;
    height: 80px;
    border-radius: 25px;
    position: static;
    background-color: #71b4eb;
    text-align: center;
    position: static;
    line-height: 40px;
}