body, html {
  font-family: "Cascadia Code","Microsoft YaHei UI", sans-serif;
}

.bigPart {
  display: block;
  width: 725px;
  height: 720px;
  /*background: deeppink;*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border: 2px solid black;
  border-radius: 20px;
}

#topTitle {
  position: relative;
  top: 20px;
  width: 200px;
  left: 520px;
  height: 50px;
  /*background-color: aquamarine;*/
  display: flex;
  flex-direction: row;
}

.topButtons {
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: orange;
  line-height: 30px;
  position: relative;
  top: 15px;
  /*left: 15px;*/
  /*right: 5px;*/
  text-align: center;
  font-size: 15px;
}

#allChoose {
  position: relative;
  left: -10px;
}

#allNotChoose {
  position: relative;
  left: 0px;
}

#changeChoose {
  position: relative;
  left: 10px
}
#lists {
  position: relative;
  background-color: pink;
  top: 35px;
  width: 720px;
  height: 550px;
  overflow: auto;
}

.oneList {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  /*background-color: aqua;*/
  border-width: 0 0 2px 0;
  border-style: solid;
}

.tasksFinish {
  width: 25px;
  height: 25px;
}

.taskName {
  position: relative;
  top: 4px;
  left: 10px;
  height: 25px;
  font-size: 17px;
  width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*background-color: cadetblue;*/
}

.prompt {
  position: relative;
  left: 30px;
  width: 180px;
  /*background-color: darkorange;*/
  font-size: 13px;
}

.deleteButton {
  position: relative;
  left: 50px;
  width: 50px;
  text-align: center;
  border-radius: 20px;
  background-color: plum;
  height: 25px;
  top: 5px;
  line-height: 25px;
}

#inputPlace {
  position: absolute;
  top: 650px;
  display: flex;
  flex-direction: row;
  width: 720px;
  height: 50px;
  border: 2px dotted black;
  border-radius: 30px;
  /*background-color: darkblue;*/
}

#inputThings {
  position: relative;
  top: 8px;
  left: 30px;
  height: 30px;
  width: 300px;
  font-family: "Consolas", "Microsoft YaHei UI", Serif;
}

#d {
  position: relative;
  top: 16px;
  left: 40px;
}

#deadline {
  height: 30px;
  position: relative;
  left: 35px;
  top: 8px;
}

#submit {
  background-color: pink;
  width: 60px;
  height: 30px;
  position:relative;
  top: 10px;
  left: 65px;
  border-radius: 5px;
  text-align: center;
}

#word {
  position: relative;
  top: 7px;
  left: 0px;
}